USE [master]
GO
/****** Object:  Database [dbAxado]    Script Date: 10/04/2016 00:14:53 ******/
CREATE DATABASE [dbAxado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbAxado', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbAxado.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbAxado_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbAxado_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbAxado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbAxado]
GO
/****** Object:  Table [dbo].[Carrier]    Script Date: 10/04/2016 00:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carrier](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Adress] [varchar](200) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
 CONSTRAINT [PK_Carrier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarrierRating]    Script Date: 10/04/2016 00:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrierRating](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[id_Carrier] [numeric](18, 0) NOT NULL,
	[id_User] [numeric](18, 0) NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_CarrierRating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 10/04/2016 00:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](10) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CarrierRating]  WITH CHECK ADD  CONSTRAINT [FK_CarrierRating_Carrier] FOREIGN KEY([id_Carrier])
REFERENCES [dbo].[Carrier] ([id])
GO
ALTER TABLE [dbo].[CarrierRating] CHECK CONSTRAINT [FK_CarrierRating_Carrier]
GO
ALTER TABLE [dbo].[CarrierRating]  WITH CHECK ADD  CONSTRAINT [FK_CarrierRating_User] FOREIGN KEY([id_User])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[CarrierRating] CHECK CONSTRAINT [FK_CarrierRating_User]
GO
USE [master]
GO
